.venv*/

# miniconda installer
bin/miniconda3.sh

**/__pycache__
models/*.joblib
!models/keep
**/.ipynb_checkpoints
.noseids

# test coverage
htmlcov
.coverage

# IDE config
.vscode/
.idea/

# linters
.mypy_cache

# OSX
.DS_Store
